<div class="user-details">
  <h1
    class="mb-4 text-3xl text-gray-900 dark:text-white md:text-5xl lg:text-5xl"
    style="text-align: center"
  >
    About
  </h1>
  <div style="display: flex; align-content: center; justify-content: center">
    <img class="profile" src="/assets/img/profile.png" />
    <p>
      I’m a software developer located in Des Moines, IA, with a degree in Computer Science from
      Iowa State University. My tech stack ranges across many languages, but the avenues in
      which I am most experienced are developing applications for web through Node.js, and
      designing intuitive user interfaces. Some of my work includes projects for John Deere,
      where I helped develop websites that connect farmers with their telemetric data, and
      present it in digestible graphics and charts within Deere’s suite of interactive applications
      (such as Property Center and JDLink). I’ve also worked with Iowa’s Institute for
      Transportation to develop a GIS application for the pavement needs of local municipalities;
      and in my free time, I maintain a multiplayer HTML5 game – with graphics rendered with
      PixiJS, and server connectivity built with socket.io.
    </p>
  </div>
  <br />
  <p>
    I enjoy the problem-solving nature of programming, and often times a feature or application
    idea, which at first seems too complex or impossible, is only overwhelming at first sight.
    Through steady work, assuming there is a good modular understanding of the project
    architecture, many problems will reach solutions.
  </p>
  <br />
  <p>
    When beginning a new project, I like to look around and research the latest technology that
    would best fit the current need of the client and the intention behind the application
    proposal. Technologies change and update so fast, especially in web development, that
    often times the most fitting tool for a given feature – ie testing, or styling React components
    – might have already been replaced by another library or standard.
  </p>
  <br />
  <p>
    When encountering an old project, I make sure that I understand the root design first, and
    only then modify or add additional features. Through my experience working on
    repositories which are sourced from a wide net of developers and their software strategies,
    there is never an application without some level of tech debt. Thus working through any
    code work is always a struggle between releasing the new feature, and cleaning up the
    existing codebase – for node apps and deployment, eslint rules are very helpful to prune
    the worst of messy code. Test driven development (through Jest or mocha), though it often
    adds many hours of development work, also serves to double-check every change before
    releasing to production, and can be very insightful if anything in the application crashes, or
    some internal function fails.
  </p>
  <br />
  <p>
    Moving forward, I hope to expand my experience and contribute to projects which provide a
    positive world impact. I’m always open to working with new technologies and exploring new
    fields of computer science, while also building upon what I know.
  </p>
</div>
